[submodule "Disciplinas/F129-Fisica-Experimental-I"]
	path = Disciplinas/F129-Fisica-Experimental-I
	url = git@github.com:Henrique-hpds/F129-Fisica-Experimental-I.git
[submodule "Disciplinas/F329-Fisica-Experimental-III"]
	path = Disciplinas/F329-Fisica-Experimental-III
	url = git@github.com:Henrique-hpds/F329-Fisica-Experimental-III.git
[submodule "Disciplinas/MC558-Projeto-e-Analise-de-Algoritmos-II"]
	path = Disciplinas/MC558-Projeto-e-Analise-de-Algoritmos-II
	url = git@github.com:Henrique-hpds/MC558-Projeto-e-Analise-de-Algoritmos-II.git
[submodule "Disciplinas/MC920-Introducao-ao-Processamento-de-Imagem-Digital"]
	path = Disciplinas/MC920-Introducao-ao-Processamento-de-Imagem-Digital
	url = git@github.com:Henrique-hpds/MC920-Introducao-ao-Processamento-de-Imagem-Digital.git
[submodule "Disciplinas/MC970-Introducao-a-Programacao-Paralela"]
	path = Disciplinas/MC970-Introducao-a-Programacao-Paralela
	url = git@github.com:Henrique-hpds/MC970-Introducao-a-Programacao-Paralela.git
[submodule "Disciplinas/MC504-Sistemas-Operacionais"]
	path = Disciplinas/MC504-Sistemas-Operacionais
	url = git@github.com:Henrique-hpds/MC504-Sistemas-Operacionais.git
[submodule "Disciplinas/EE534-Laboratorio-de-Eletronica-Aplicada"]
	path = Disciplinas/EE534-Laboratorio-de-Eletronica-Aplicada
	url = git@github.com:Henrique-hpds/EE534-Laboratorio-de-Eletronica-Aplicada.git
[submodule "Disciplinas/MS211-Calculo-Numerico"]
	path = Disciplinas/MS211-Calculo-Numerico
	url = git@github.com:Henrique-hpds/MS211-Calculo-Numerico.git
