[submodule "Disciplinas/F129-Fisica-Experimental-I"]
	path = Disciplinas/F129-Fisica-Experimental-I
	url = git@github.com:Henrique-hpds/F129-Fisica-Experimental-I.git
[submodule "Disciplinas/F329-Fisica-Experimental-III"]
	path = Disciplinas/F329-Fisica-Experimental-III
	url = git@github.com:Henrique-hpds/F329-Fisica-Experimental-III.git
[submodule "Disciplinas/MC558-Projeto-e-Analise-de-Algoritmos-II"]
	path = Disciplinas/MC558-Projeto-e-Analise-de-Algoritmos-II
	url = git@github.com:Henrique-hpds/MC558-Projeto-e-Analise-de-Algoritmos-II.git
[submodule "Disciplinas/MC920-Introducao-ao-Processamento-de-Imagem-Digital"]
	path = Disciplinas/MC920-Introducao-ao-Processamento-de-Imagem-Digital
	url = git@github.com:Henrique-hpds/MC920-Introducao-ao-Processamento-de-Imagem-Digital.git
[submodule "Disciplinas/MC970-Introducao-a-Programacao-Paralela"]
	path = Disciplinas/MC970-Introducao-a-Programacao-Paralela
	url = git@github.com:Henrique-hpds/MC970-Introducao-a-Programacao-Paralela.git
[submodule "Disciplinas/MC504-Sistemas-Operacionais"]
	path = Disciplinas/MC504-Sistemas-Operacionais
	url = git@github.com:Henrique-hpds/MC504-Sistemas-Operacionais.git
[submodule "Disciplinas/EE534-Laboratorio-de-Eletronica-Aplicada"]
	path = Disciplinas/EE534-Laboratorio-de-Eletronica-Aplicada
	url = git@github.com:Henrique-hpds/EE534-Laboratorio-de-Eletronica-Aplicada.git
[submodule "Disciplinas/MS211-Calculo-Numerico"]
	path = Disciplinas/MS211-Calculo-Numerico
	url = git@github.com:Henrique-hpds/MS211-Calculo-Numerico.git
[submodule "Disciplinas/MC656-Engenharia-de-Software"]
	path = Disciplinas/MC656-Engenharia-de-Software
	url = git@github.com:Henrique-hpds/MC656-Engenharia-de-Software.git
[submodule "Disciplinas/EA772-Circuitos-Logicos"]
	path = Disciplinas/EA772-Circuitos-Logicos
	url = git@github.com:Henrique-hpds/EA772-Circuitos-Logicos.git
[submodule "Disciplinas/CE839-Introducao-a-Administracao-para-Computacao"]
	path = Disciplinas/CE839-Introducao-a-Administracao-para-Computacao
	url = git@github.com:Henrique-hpds/CE839-Introducao-a-Administracao-para-Computacao.git
[submodule "Disciplinas/IA376-Deep-Generative-Models"]
	path = Disciplinas/IA376-Deep-Generative-Models
	url = git@github.com:Henrique-hpds/IA376-Deep-Generative-Models.git
[submodule "Disciplinas/IA367-Introducao-ao-Aprendizado-por-Reforco"]
	path = Disciplinas/IA367-Introducao-ao-Aprendizado-por-Reforco
	url = git@github.com:Henrique-hpds/IA367-Introducao-ao-Aprendizado-por-Reforco.git
[submodule "Disciplinas/MC832-Redes-de-Computadores"]
	path = Disciplinas/MC832-Redes-de-Computadores
	url = git@github.com:Henrique-hpds/MC832-Redes-de-Computadores.git
[submodule "Disciplinas/MC886-Aprendizado-de-Maquina"]
	path = Disciplinas/MC886-Aprendizado-de-Maquina
	url = git@github.com:Henrique-hpds/MC886-Aprendizado-de-Maquina.git
[submodule "Disciplinas/MC102-Algoritmos-e-Programacao-de-Computadores"]
	path = Disciplinas/MC102-Algoritmos-e-Programacao-de-Computadores
	url = git@github.com:Henrique-hpds/MC102-Algoritmos-e-Programacao-de-Computadores.git
[submodule "Disciplinas/MC202-Estruturas-de-Dados"]
	path = Disciplinas/MC202-Estruturas-de-Dados
	url = git@github.com:Henrique-hpds/MC202-Estruturas-de-Dados.git
